@model ProdutoModel
@{
    ViewData["Title"] = "Edição de produtos";
}

<div class="text-center">
    <h1 class="display-4">Editar Produto</h1>
</div>
<form asp-controller="Produto" asp-action="Editar" method="post">

    <input type="hidden" asp-for="Id">
    <div class="mb-3">
        <label for="produto" class="form-label">Nome do produto:</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do produto">
    </div>
    <div class="mb-3">
        <label class="form-label" for="preco">Preço:</label>
        <input type="text" asp-for="Preco" class="form-control" placeholder="Digite o preço do produto">
    </div>
    <div class="mb-3">
        <label for="descricaoCurta" class="form-label">Descrição curta:</label>
        <input type="text" asp-for="DescricaoCurta" class="form-control" placeholder="Breve descrição">
    </div>
    <div class="mb-3">
        <label class="form-label" for="descricaoCompleta">Descrição Completa:</label>
        <textarea class="form-control" asp-for="DescricaoCompleta" id="exampleFormControlTextarea1" rows="3" placeholder="Descrição completa"></textarea>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a class="btn btn-secondary" asp-controller="Produto" asp-action="Index" role="button">Voltar</a>
    </div>
</form>

